$gold: #FCCE15;
$scarlet: #B8161C;
$mane: #E4552E;
$parchment: #F0E9D5;
$midnight: #262020;
$maroon: #800000;
html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-color: $midnight;
	color: $gold;
}

header {
	background: $scarlet;
}

.optional {
	background: #337AB7;
	color: #fff;
	font-size: 1.3em;
}

.mane-bg {
	background-color: $mane;
}

.scarlet-bg {
	background-color: $scarlet;
}

.midnight-bg {
	background-color: $midnight;
}

.maroon-bg {
	background-color: $maroon;
}

.btn-group {
	margin: 0 0 1em 0;
}

.btn-primary {
	background-color: $gold;
	color: $scarlet;
	border-color: $midnight;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: $mane;
	color: $parchment;
	border-color: $midnight;
}

h1 {
	margin: 1em auto 0;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 5em;
}

.margin-top {
	margin-top: 10%;
}

.pad-right {
	padding-right: 2%;
}

.pac-container {
	background-color: #FFF;
	z-index: 1050;
	position: fixed;
	display: inline-block;
	float: left;
}

.modal {
	z-index: 20;
}

.modal-backdrop {
	z-index: 10;
}

article {
	border: solid 5px $gold;
	margin: 1em 0 0;
	color: $midnight;
	background: $parchment;
}

.margin-zero {
	margin: 0;
}

.events-section {
	background-color: $mane;
	padding: 0 2em;
}

.invalidPass {
	background-color: $scarlet;
	font-size: 2em;
	color: #fff;
	text-align: center;
}

.my-form {
	transition: all linear 0.5s;
	background: transparent;
}

.my-form.ng-invalid {
	background: red;
}
